zenml:
  replicaCount: 1

  image:
    repository: zenmldocker/zenml-server
  
  pro:
      enabled: true
      apiURL: https://zenml-pro-amit.18.197.18.197.nip.io/api/v1
      dashboardURL: https://zenml-pro-amit.18.197.18.197.nip.io
      enrollmentKey: c0q7KRx0sqkeZ_DkcNyVo3z8brLzZSRx2H04G4E3BEJ_ZQxwVV34rnLRgawk-76AOmKRwRU8MNslh0taCK_y9w
      organizationID: 3c300b3c-b062-4109-8cbc-037b3f204850
      organizationName: zenml-amit
      workspaceID: 251ab625-fc96-4ebc-9535-f8cd01da036b
      workspaceName: zenml-pro-amit-workspace
  
  serverURL: https://zenml-amit.18.197.18.197.nip.io

  defaultProject: default
  database:
    url: "mysql://${AWS_SQL_USERNAME}:${AWS_SQL_PASSWORD}@${AWS_SQL_HOST}:${AWS_SQL_PORT}/${AWS_SQL_DB_NAME}"

  # Secrets store settings. This is used to store centralized secrets.
  secretsStore:
    enabled: true
    type: hashicorp

    sql:
      encryptionKey: "${TENANT_DEFAULT_ENCRYPTION_KEY}"

    hashicorp:
      # The HashiCorp Vault authentication method to use. The currently supported authentication methods are:
      # - token - Use a static token
      # - app_role - Use a Vault App Role (app role ID and secret ID)
      # - aws - Use AWS authentication
      authMethod: aws

      authConfig:
        vault_addr: "${VAULT_ADDR}"
        mount_point: "${VAULT_MOUNT_POINT}"
        aws_role: "${VAULT_AWS_ROLE}"
        aws_header_value: "${VAULT_AWS_HEADER_VALUE}"

  service:
    type: ClusterIP
    port: 80
    annotations: {}

  # Setup ingress with nip.io
  ingress:
    enabled: true
    className: "nginx-second"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt"
    host: zenml-amit.18.197.18.197.nip.io
    path: /
    tls:
      enabled: true

  # # Setup ingress with an existing domain
  # ingress:
  #   enabled: true
  #   className: "nginx"
  #   host: zenml-amit.staging.cloudinfra.zenml.io
  #   path: /
