zenml:

  replicaCount: 1

  image:
    repository: public.ecr.aws/f7g3v0f1/zenml-server
    tag: amit

  defaultProject: default
  database:
    url: "mysql://${AWS_SQL_USERNAME}:${AWS_SQL_PASSWORD}@${AWS_SQL_HOST}:${AWS_SQL_PORT}/${AWS_SQL_DB_NAME}"


  # Secrets store settings. This is used to store centralized secrets.
  secretsStore:
    enabled: true
    type: sql

    sql:
      encryptionKey: "${TENANT_DEFAULT_ENCRYPTION_KEY}"

    hashicorp:

      # The HashiCorp Vault authentication method to use. The currently supported authentication methods are:
      # - token - Use a static token
      # - app_role - Use a Vault App Role (app role ID and secret ID)
      # - aws - Use AWS authentication
      authMethod: ${VAULT_AUTH_METHOD}

      authConfig:
        vault_addr: "${VAULT_ADDR}"
        mount_point: "${VAULT_MOUNT_POINT}"
        aws_role: "${VAULT_AWS_ROLE}"
        aws_header_value: "${VAULT_AWS_HEADER_VALUE}"


  service:
    type: ClusterIP
    port: 80
    annotations: {}

  ingress:
    enabled: true
    className: "nginx"
    host: zenml-amit.staging.cloudinfra.zenml.io
    path: /
